@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url("fonts.css");

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

html {
	height:100%;
}

body {
  font: 14px 'open_sanscondensed_light', Helvetica, Arial, sans-serif;
  height: 100%;  
  overflow: hidden;
}

a {
  color: #00B7FF;
}

.clear {
    clear: both;
}

.flex-container {
  padding: 0px;
  margin: 0 auto 0 auto;
  height: 100%;
  width: 100%;
}

.flex-item {
  float: left;
  
  width: 33%;
  height: 25%;
  
  color: white;
}

.flex-item-inner {
	background: transparent;
  margin: 25px;
	padding: 25px;
}

.flex-item .info-block {
    font-size: 15pt;
}

.flex-item .project {
	  font-weight: bold;
}

.flex-item .definition {
}

.flex-item .number {
    float: left;
  	font-size: 25pt;
}

.flex-item .duration-icon {
    font-size: 25px;
    float: left;
    margin-top: 3px;
}

.flex-item .duration-block {
    float:right;
  	font-size: 10pt;
}

.flex-item .time {
    margin-left: 10px;
}

.flex-item .status {
    float: left;
    font-family: 'open_sans_condensedbold';
	  font-weight: bold;
  	font-size: 25pt;
}

.flex-item .reason {
    float: right;
  	font-size: 15pt;
}

.flex-item .for {
}

.requestedFor-block {
    font-size: 15pt;
    float: left;
}

.flex-item .warnings {
	  font-weight: bold;
  	font-size: 20pt;
    float: right;
}