html {
	height:100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;  
  overflow: hidden;
}

a {
  color: #00B7FF;
}

.flex-container {
  padding: 0;
  margin: 0 auto 0 auto;
  height: 100%;
  width: 100%;
}

.flex-item {
  float: left;
  background: pink;
  padding: 20px;
  margin: 10px;
  width: 30%;
  height: 19%;
  
  color: white;
}

.flex-item .title {
	font-weight: bold;
  	font-size: 30pt;
}

.flex-item .duration {
  	font-size: 10pt;
}

.flex-item .status {
	font-weight: bold;
  	font-size: 25pt;
}

.flex-item .reason {
  	font-size: 15pt;
}

.flex-item .for {
  	font-size: 15pt;
}

.flex-item .warnings {
	font-weight: bold;
  	font-size: 20pt;
}

.InProgress-color {
	background: blue;
}

.Succeeded-color {
	background: green;
}

.Stopped-color {
	background: darkgray;
}

.PartiallySucceeded-color {
	background: orange;
}

.Failed-color {
	background: red;
}