@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url("fonts.css");

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

html {
	height:100%;
}

body {
  font: 14px 'open_sanscondensed_light', Helvetica, Arial, sans-serif;
  height: 100%;  
  overflow: hidden;
}

a {
  color: #00B7FF;
}

.clear {
    clear: both;
}

.nowrap {
    overflow: hidden;
    white-space: nowrap;
}

.box {
    border: 1px solid black;
}

.middle { 
  vertical-align: middle;
}

.medium-height {
    line-height: 40px;
    height: 40px;
}

.reset-height {
    display: inline-block;
    line-height: normal;
}

.flex-container {
  padding: 0px;
  margin: 0 auto 0 auto;
  height: 100%;
  width: 100%;
}

.flex-item {
  float: left;
  
  width: 33%;
  height: 25%;
  
  color: white;
}

.flex-item-inner {
	background: transparent;
  margin: 25px;
	padding: 25px;
}

.flex-item .info-block {
    float: left;
    font-size: 15pt;
}

.flex-item .project {
	  font-weight: bold;
}

.flex-item .project-definition-separator {
    border-right: 1px solid white; padding-right: 10px;
    margin-right: 10px
}

.flex-item .definition {
}

.flex-item .number {
  	font-size: 25pt;
}

.flex-item .duration-icon {
    font-size: 25px;
    float: left;
    margin-top: 3px;
}

.flex-item .duration-block {
    float:right;
  	font-size: 10pt;
}

.flex-item .time {
    margin-left: 10px;
}

.flex-item .status {
    float: left;
    font-family: 'open_sans_condensedbold';
	  font-weight: bold;
  	font-size: 25pt;
}

.flex-item .reason {
    margin-left: 10px;
  	font-size: 15pt;
}

.flex-item .reason-icon {
    font-size: 25px;
}

.flex-item .reason-block {
    float: right;
}

.flex-item .for {
    margin-left: 15px;
    font-size: 20px;
}

.requestedFor-block {
    font-size: 15pt;
    float: left;
    vertical-align: middle;
}

.flex-item .warnings {
	  font-weight: bold;
  	font-size: 20pt;
    float: right;
    vertical-align: middle;
}

@media (max-height: 600px) {
  .prio-vertical-one {
      display: none;
  }
}

@media (max-height: 760px) {
  .prio-vertical-two {
      display: none;
  }
}

@media (max-height: 900px) {
  .prio-vertical-three {
      display: none;
  }
}

@media (max-width: 870px) {
  .prio-horizontal-one {
      display: none;
  }
}

@media (max-width: 1000px) {
  .prio-horizontal-two {
      display: none;
  }
}

@media (max-width: 1300px) {
  .prio-horizontal-three {
      display: none;
  }
}