[Desktop Entry]
Encoding=UTF-8
Name=Link to Settings 2 Icon | Blogger Iconset | Rafiqul Hassan
Type=Link
URL=http://www.iconarchive.com/show/blogger-icons-by-rafiqul-hassan/Settings-2-icon.html
Icon=text-html
