@import url("fonts.css");

html {
	height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font: 14px 'open_sanscondensed_light', Helvetica, Arial, sans-serif;
  height: 100%;
  overflow: hidden;
}

.carbon-background {
  background-image: url(/images/pattern-b8gl.png);
  background-repeat: repeat;
}

.connection > .overlay-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 0.8;
}

.connection > .overlay-icon {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 45%;
  left: 0px;
  color: white;
  text-align: center;
}