@import url("marck-script/css/marck-script.css");

.lingo-theme .list-container {
  font-family: 'Marck-Script';
  font-size: 20pt;
  padding: 30px;
  color: white;
}

.lingo-theme .list-item {
  margin-top: 15px;
  padding: 10px;
}

.lingo-theme .emphasize {
  color: #f7ffad;
}