extends layout

block scripts
    script.
        var socketEndpoint = '#{socket}';

    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/moment.min.js')
    script(src='/javascripts/jquery-2.1.0.min.js')
    script(src='/javascripts/knockout-3.1.0.js')
    script(src='/javascripts/main.js')

block content
    div#builds.flex-container(data-bind='foreach: builds')
        .flex-item(data-bind='{ css: cssClass }')
            span.title(data-bind='text: project')
            span  -> 
            span.title(data-bind='text: definition')
            span  -> 
            span.title(data-bind='text: number')
            br
            span.duration(data-bind='text: duration')
            br
            span.status(data-bind='text: status')
            br
            span.reason(data-bind='text: reason')
            span  for 
            span.for(data-bind='text: requestedFor')
            br
            span.warnings Warnings: 
            span.warnings(data-bind='text: hasWarnings')
            span.warnings  - Errors: 
            span.warnings(data-bind='text: hasErrors')