extends layout

block scripts
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/moment.min.js')
    script(src='/javascripts/countdown.min.js')
    script(src='/javascripts/jquery-2.1.0.min.js')
    script(src='/javascripts/jquery.color-2.1.2.min.js')
    script(src='/javascripts/knockout-3.1.0.js')
    script(src='/javascripts/main.js')

block content
    div#builds.flex-container(data-bind='foreach: builds')
        .flex-item
            .flex-item-inner(data-bind='{ animateCss: style }').nowrap
                span.number(data-bind='text: number').nowrap
                .clear

                div.medium-height.nowrap.prio-vertical-two
                    span.info-block.middle
                        span.project(data-bind='text: project')
                        span.definition.project-definition-separator(data-bind='text: definition, visible: definition')
                    span.reason-block.prio-horizontal-two
                        span.reason-icon.middle.fa.fa-cog
                        span.middle.reason(data-bind='text: reason')

                .clear

                div.medium-height.nowrap.prio-vertical-one
                    span.middle.status(data-bind='text: statusText')
                    span.middle.duration-block.reset-height.prio-horizontal-three
                        span.duration-icon.fa.fa-clock-o
                        span.middle.time(data-bind='text: time')
                        br
                        span.middle.time(data-bind='text: duration')

                .clear

                div.medium-height.nowrap.prio-vertical-three
                    span.middle.requestedFor-block
                        span.middle.fa.fa-user
                        span.middle.for(data-bind='text: requestedFor')
                    span.middle.warnings.prio-horizontal-one
                        span.middle.fa.fa-exclamation-triangle(data-bind='visible: hasWarnings')
                        span.middle.fa.fa-times-circle(data-bind='visible: hasErrors')
                .clear

    div.connection(data-bind='fadeOverlay: isIntercepted')
        div.overlay-background
        div.overlay-icon
            span(data-bind='visible: infoType() === "connection"')
                span.fa.fa-5x.fa-plug
            span(data-bind='visible: infoType() === "loading"')
                span.fa.fa-5x.fa-circle-o-notch.fa-spin