extends layout

block scripts
    script.
        var socketEndpoint = '#{socket}';

    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/moment.min.js')
    script(src='/javascripts/countdown.min.js')
    script(src='/javascripts/jquery-2.1.0.min.js')
    script(src='/javascripts/knockout-3.1.0.js')
    script(src='/javascripts/main.js')

block content
    div#builds.flex-container(data-bind='foreach: builds')
        .flex-item
            .flex-item-inner(data-bind='{ css: cssClass }')
                span.number(data-bind='text: number')
                br
                span.project(data-bind='text: project')
                span  | 
                span.definition(data-bind='text: definition')
                br
                span.duration.fontawesome-time
                span.duration(data-bind='text: duration')
                br
                span.status(data-bind='text: statusText')
                span  (
                span.reason(data-bind='text: reason')
                span )
                br
                span.for.fontawesome-user
                span.for(data-bind='text: requestedFor')
                br
                span.warnings.fontawesome-warning-sign(data-bind='visible: hasWarnings')
                span.warnings.fontawesome-remove-sign(data-bind='visible: hasErrors')