extends layout

block scripts
    script.
        var socketEndpoint = '#{socket}';

    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/moment.min.js')
    script(src='/javascripts/countdown.min.js')
    script(src='/javascripts/jquery-2.1.0.min.js')
    script(src='/javascripts/jquery.color-2.1.2.min.js')
    script(src='/javascripts/knockout-3.1.0.js')
    script(src='/javascripts/main.js')

block content
    div#builds.flex-container(data-bind='foreach: builds')
        .flex-item
            .flex-item-inner(data-bind='{ animateCss: style }')
                span.number(data-bind='text: number')
                span.info
                    span.project(data-bind='text: project')
                    span  | 
                    span.definition(data-bind='text: definition')

                .clear

                div.duration
                    span.duration-icon.fontawesome-time
                    span.time(data-bind='text: time')
                    br
                    span.time(data-bind='text: duration')

                .clear

                span.status(data-bind='text: statusText')
                span.reason(data-bind='text: reason')

                .clear

                span.requestedFor-block
                    span.fontawesome-user
                    span.for(style='margin-left: 15px', data-bind='text: requestedFor')
                span.warnings
                    span.fontawesome-warning-sign(data-bind='visible: hasWarnings')
                    span.fontawesome-remove-sign(data-bind='visible: hasErrors')
                .clear