extends layout

block scripts
    script(src='/scripts/libs/jquery-2.1.0.min.js')
    script(src='/scripts/libs/jquery.color-2.1.2.min.js')
    script(data-main="/scripts/main", src='/scripts/libs/require-2.1.15.min.js')

block content
    div.full-size(data-bind='component: { name: theme, params: { builds: builds } }')

    div.connection(data-bind='fadeOverlay: isIntercepted')
        div.overlay-background
        div.overlay-icon
            span(data-bind='visible: infoType() === "loading"')
                span.fa.fa-5x.fa-circle-o-notch.fa-spin
            span(data-bind='visible: infoType() === "connection"', style="display: none")
                span.fa.fa-5x.fa-plug