extends layout

block scripts
    script(src='/socket.io/socket.io.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js')
    script(src='/javascripts/main.js')

block content
    ul#builds.flex-container