extends layout.pug

block scripts

block content
    .fullsize
        h1(style='color:white') Build group list comes here! But only if more than one build group is set up! Compatibility!
        ul
          each config, index in configs
            li(style='color: white').
              #[a(href=`monitor/${index}` style='color: white') Monitor #{index}] [#[a(href=`monitor/${index}` target='blank' style='color: white') New Window]]
