.connection(data-bind='fade: isIntercepted')
    .overlay-background
    .overlay-icon
        span(data-bind='visible: infoType() === "loading"')
            span.fa.fa-5x.fa-circle-o-notch.fa-spin
        span(data-bind='visible: infoType() === "connection"', style='display: none')
            span.fa.fa-5x.fa-plug