@font-face {
    font-family: 'Marck-Script';
    src: url('../fonts/Marck-Script.ttf.eot');
    src: url('../fonts/Marck-Script.ttf.eot?#iefix') format('embedded-opentype'),
    	 url('../fonts/Marck-Script.ttf.woff') format('woff'),
    	 url('../fonts/Marck-Script.ttf') format('truetype'),
         url('../fonts/Marck-Script.ttf.svg#Marck-Script') format('svg');
    font-weight: normal;
    font-style: normal;
}